<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongo Shop</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <nav>
    <h1><a href="/">Mongo Recipes</a></h1>
      <ul>
        <li><a href="/blogs">Review Blogs</a></li>
        <% if (user) { %>
        <li>Welcome, <%= user.email %></li>
        <li><a href="/blogs/create">Create Blogs</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %> 
        <li><a href="/login">Log in</a></li>
        <li class="signup"><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
      </ul>
      
  </nav>
  