<%- include('partials/header'); -%>

<header>
  <div class="menu">
    <img src="/recipe.png" alt="">
  </div>
  <div class="headings">
    <h2>Mongo's Recipes</h2>
    <h3>By Mongo For Customer</h3>
    <a href="/menu" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>
